h3{
  color: aqua;
}

div{
  position: absolute;
  
}

div.box321{
  height: 200px;
  width: 200px;
  background-color: pink;
}
div.box322{
  height: 200px;
  width: 200px;
  background-color: red;
  top: 120px;
  left: 120px;

}

/* 33 */
.iconfont{
  font-size: 200px;
  color: pink;
}

/* 34 */
.vam34{
  border: 1px solid #000;
 
}

.vam34 img {
  vertical-align: middle;
}


.tran35 img {
  width: 200px;
  height: 150px;
}

/* 放置变大 */
.tran35 img:hover{
  width: 500px;
  height: 400px;

  /* 加入时间 */
  transition: all 1s;
}

.cursor36{
  height: 200px;
  width: 200px;
  background: pink;

  cursor: text;
  cursor: pointer;
  cursor:move ;
}