.container {
  color: pink;
  width: 3.33333333rem;
  height: 0.66666667px;
}
.container .box {
  width: 100px;
  height: 100px;
}
.container .box a {
  color: pink;
}
.container .box a:hover {
  color: red;
}
